  .menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    right: 0; 
    top: 35%; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }


  .menu .menuItems {
    width: 65px;
    height: 65px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
  }
  .menu .menuItems:hover {
    background: black;
    padding-right: 10px;
    width: 80px;
}

  .menu .menuItems i {
    font-size: 2rem;
  }

  .fa-youtube {
    color: red;
  }
  .fa-instagram {
    color: #c32aa3;
  }
  .fa-facebook {
    color: #273c75;
  }
  .fa-twitter {
    color: #1da1f2;
  }